*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:  black;
}
li{
    font-weight: 800;
    font-size: 20px;
    color: azure;
   text-decoration: none;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
header{
    display:flex;
    justify-content: unset;
    padding: 50px 10%;
    background-image: url("cover.jpg"); 
    background-color: #cccccc;
}
#register{
    width:50px;
    height:50px;
    border-radius:100%;
    position:fixed;
    left:90%;
    margin:auto;
}
.logo{
    cursor: pointer;
}
.nav_links{
    position: absolute;
    float: right;
    list-style: none;
    text-align: right;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    opacity:1;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #57606f;
}
.main{
    background-color: black;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.some_txt{
  position: absolute;
  top: 350px;
  left: 240px;
  font-size: 45px;
  font-family: 'Lobster', cursive;
  background-color: rgb(0,0,0);
}
.some_txt1{
    position: absolute;
    top: 400px;
    left: 220px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color: aqua;
    background-color: rgb(0, 0, 0);
    border-bottom: 5px solid whitesmoke;
    padding: 12px;
}
.txt1{
    font-family: 'Pacifico', cursive;
    position: absolute;
    font-size: 35px;
    top: 480px;
    left: 290px;
    background-color: rgb(0,0,0);
}
.txt2{
    font-family: 'Teko', sans-serif;
    position: absolute;
    top: 550px;
    left: 220px;
    font-size: 40px;
    text-transform: uppercase;
    background-color: rgb(0,0,0);
    border-bottom: 5px solid whitesmoke;
    padding: 12px;
}
.second{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    margin: 30px;
    left: 50px;
}
.sec li{
    display: inline-block;
    font-size: 24px;
}
.title{
    font-family: 'Modak', cursive;
    font-size: 45px;
    color: white;
    position: relative;
    right: 100px;
    border: 3px solid white;
}
.tit{
    font-size: 35px;
    position: relative;
    left: 75px;
    font-family: 'Permanent Marker', cursive;
    color: white;
}

.inner{
    color: goldenrod;
    position: relative;
}
.pics {

}
.pic1{
    margin: 40px;
    float: right;
    align-items: center;
}
.pic2{
    margin: 40px;
}
.pic3{
    margin: 40px;
}
.pic4{
    margin: 40px;
}
.pic5{
    margin: 40px;
}
.pic6{
    margin: 40px;
}
.jordan1{
    color: white;
    float: left;
}
.jordan34{
    color: white;
    float: left;
}
.nikefirst{
    color:  white;
    float: left;
}
.nikelast{
    color: white;
    float: left;
}
.ford{
    color: white;
    float: left;
}
.toyota{
    color: white;
    float: left;
}